useDynLib(facets, .registration = TRUE)
import(stats,graphics)
importFrom("utils", "read.csv")
importFrom("grDevices", "colorRampPalette", "rainbow")
importFrom("pctGCdata", "getGCpct")
export("readSnpMatrix", "preProcSample", "procSample", "emcncf", "emcncf2", "plotSample","logRlogORspider","rePreProcSample")
