useDynLib(facets)
import(stats,graphics)
importFrom("utils", "read.csv")
importFrom("grDevices", "colorRampPalette")
importFrom("pctGCdata", "getGCpct")
export("readSnpMatrix", "preProcSample", "procSample", "emcncf", "emcncf2", "plotSample")
